{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": ["prettier", "@typescript-eslint", "functional"],
    "extends": ["plugin:prettier/recommended", "plugin:@typescript-eslint/recommended"],
    "rules": {
        "prettier/prettier": ["error", { "endOfLine": "auto" }],
        "@typescript-eslint/no-empty-interface": ["off", false]
    }
}
